 :root {
    --pr-color : #09AA10;
}
body { 
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
}

.navbar {
    background-color: #508D4E;
}


.navbar-brand{
    font-weight: 700;
    font-weight: 20px;
}

.nav-link{
    font-size: 16px;
}

.nav-link.active {
    font-weight: 700;
}



#hero{
    background: linear-gradient(160deg, var(--pr-color),#000);
    height: 100vh;
    width: 100% ;
}

.img-hero {
    height: 100%;
}

.hero-tagline h1 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px ;
}

.hero-tagline p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 80%;
}


.button-lg-secondary {
    background-color: #ffffff;
    color: var(--pr-color);
    border: none;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
  }

  .button-lg-secondary:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  }

#Profile h1 {
    color: #fff;
    position: absolute;
    top: 1024px;
    margin-left: 64px;
    margin-bottom:5px;
}

.text-center h2 {
    color: #077C0B;
    font-weight: 700;
    font-size: 42px;
    line-height: 72px ;
    margin-top: 50px;
    
}
.text-center h1{
    color: #fff;
    font-weight: 700px;
    font-size:42px ;
    text-align: left;
}

.card-body  {
    background-color: #09A80F;
    padding: 50px;
   
}

.card-body p{ 
    color: #ffffff;
    margin-top: 10px;
    font-weight: 400;
    font-size: large;

}

.card-body-gallery  {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
    font-weight: 700;
}

.card-body-gallery p{
    color: #000000;
    font: weight 700px; 
}

#contact {
    background: url('asset/img/Rectangle\ 30.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 60px 0;
    position: relative;
  }
  
  .info {
    position: relative;
  }
  
  .form-container {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 100%;
    max-width: 500px; 
  }
  
  .form {
    background-color: rgba(70, 66, 66, 0.5);
    padding: 20px;
    border-radius: 8px;
  }
  
  #contact .info p {
    color: #ffffff;
  }
  
  #contact .info i {
    font-size: 32px;
    color: #71c55d;
    float: left;
    line-height: 0;
  }
  
  #contact .info p {
    padding: 10 0 10px 10px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
  }
  
  #contact .info .email p {
    padding-top: 5px;
  }
  
  #contact .social-links {
    padding: 20px 0;
  }
  
  #contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #71c55d;
    color: #000000;
    line-height: 1;
    padding: 6px 0 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #contact p {
    text-align: left;
    font-weight: 700;
    font-size: 34px;
  }
  
  .btn-custom {
    background-color: #09AA10;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-custom:hover {
    background-color: #bcbcbc;
  }
  